@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

:root {
  --dark:#282c34;
  --black: #000;
  --white: #fff;
  --primary: #ef4444;

  --transition-low: all .3s ease-out;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-big {
  font-size: 3rem;
}

.title-sm {
  font-size: 2.4rem;
}

.p-big, .btn-big {
  font-size: 1.5rem;
}

.p-sm, .btn-sm {
  font-size: 1.2rem;
}

button {
  all: unset;
  cursor: pointer;
}
